<!DOCTYPE html>
<html>
  <head>
    <title>{% block meta_title %}Book app{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  </head>
  <body>
    <a href="{% url 'books:book-create' %}">Add book</a>
    <a href="{% url 'books:author-create' %}">Add author</a>
    <a href="{% url 'books:language-create' %}">Add language</a>
    {% block content %}{% endblock %}
  </body>
</html>
